/*Menue css*/

.topnav {
  overflow: hidden;
  background-color: #d44d84;
}

.topnav a {
  float: left;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  
}

.topnav a:hover {
  background-color: #ff9500;
  color: white;
  text-decoration: none;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
  margin:10px;
  /*float: right;*/
}

